.app {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-container {
    display: flex;
    justify-content: center;
}